.jj{
    display: flex;
}
.jj1{
    border: 0px solid;
    background-color: green;
    height: 700px;
    width: 100%;
}
.jj2{
    border: 0px solid;
    background-color: white;
    height: 700px;
    width: 100%;
}
.jj3{
    border: 0px solid;
    background-color: green;
    height: 700px;
    width: 100%;
}



